@import 'variables';

.seccion-container {
    margin: 10px;
}


.titleNameModal {
    text-align: left;
}

.register-background {
    margin-left: -30px;
    margin-right: -28px;
}

.general-input {
    width: 100%;
}

.tsp-view-title {
    color: $tspSigesWhiteLetters;
    margin-left: 12px;
}


.tsp-title {
    color: $tspSigesBlueLetters;
}

.buttons-container {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.marging-buttons {
    margin-left: 5px;
}

::ng-deep .mat-dialog-container {
    padding: 0px;
    max-width: 936px;
}

.mat-flat-button {
    min-width: 0;
    line-height: 0;
}

.columnTable {
    text-align: center;
}

.button-close {
    background-color: $tspSigesError;
    color: $tspSigesWhite;
}

.button-save {
    background-color: $tspSigesBlue;
    color: $tspSigesWhite;
}

.icons {
    font-size: 20px;
    font-weight: 900;
    margin-left: -5px;
}

.input-with-button {
    display: flex;
    align-items: center;
}

.round-button {
    height: 38px;
    width: 37px;
    margin-left: 5%;
    margin-top: -5%;
    background-color: $tspSigesSuccess;
}

.round-button:hover {
    transform: translateY(0) scale(1.02);
}

.icons-with-input {
    font-size: 20px;
    font-weight: 900;
    margin-left: 1px;
    margin-top: -14px;
}

.tsp-secction-title {
    color: $tspSigesBlue;
    font-weight: 500;
    text-transform: uppercase;
}

.date-label {
    color: rgba(0, 0, 0, .6);
}

::ng-deep .p-calendar .p-inputtext {
    border: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, .6) !important;
}

::ng-deep .mat-select-panel-wrap .mat-select-panel {
    width: 80% !important;
}

.conceptName {
    pointer-events: none;
    border: none;
}


//TABLA
.contentAtribute {
    margin-bottom: 11px;

    // padding-left: 20px;
    .title {
        font-weight: bold;
        color: $tspSigesBlack;
        // @extend .tsp-subTitle;
    }
}

.table {
    input {
        width: 100%;
        text-align: center;
    }
}

.contractSelect {
    width: 100px;
    height: 30px;
}

.ruc {
    margin-right: 10px;
}