<div class="container">
    <div class="register-background">
        <div class="row">
            <div class="view-title-container">
                <h1 class="title-detail-master tsp-font-size-modal-titles titleDetailMaster">
                    {{'USERS.DATA.USER_CONFIRM_EDITION' | translate}}
                </h1>
            </div>
        </div>
    </div>
    <div class="row buttonConfirmation">
        <form action="">
            <div class="form-container">
                <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12 mt-4 spaceInput tsp-font-size-default-title">
                    {{'USERS.DATA.USER_CONFIRM_TITLE' | translate}}
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-2 mb-4 ">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
            <button mat-raised-button class="tsp-button-success tsp-font-size-buttons">
                <mat-icon>assignment_turned_in</mat-icon>{{'USERS.DATA.USER_CONFIRM' | translate}}
            </button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <button mat-flat-button mat-button mat-dialog-close class="tsp-button-delete tsp-font-size-buttons">
                <mat-icon>close</mat-icon>{{'MASTER.MASTER_TITLE.TOCLOSE' | translate}}
            </button>
        </div>
    </div>
</div>