<div class="row">
    <div class="col tsp-view-title-container">
        <span class="tsp-font-size-modal-titles tsp-view-title">{{'MASTER.MASTER_TITLE.TITLE' |
            translate}}</span>
    </div>
</div>

<div class="row buttonadd">
    <div class="button-add-container">
        <button mat-raised-button class="buttonDow button-add mr-2 tsp-font-size-buttons">
            <mat-icon>save_alt</mat-icon>{{
            'MASTER.MASTER_DETAIL.TO_DOWNLOAD' | translate
            }}
        </button>
        <button mat-raised-button class="button-add mr-2 tsp-font-size-buttons" (click)="registerMasters()">
            <mat-icon>add</mat-icon>{{
            'MASTER.MASTER_TITLE.NEW_TEACHER' | translate
            }}
        </button>
    </div>
</div>

<div class="row mt-4">
    <cad-table-filter class="buttonTable" [items]="data" [columns]="columns" [actions]="actions"
        (searchEvent)="showMaster($event)" (editEvent)=" editMasters($event)">
    </cad-table-filter>
</div>