<div class="container">
    <div class="register-background">
        <div class="row">
            <div class="view-title-container">
                <h1 class="title-detail-master tsp-font-size-modal-titles titleDetailMaster">
                    {{'PARAMETER.DATA.CAVEAT' | translate}}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-container">
                <div class="colsm-12 col-12 col-md-12 col-lg-12 col-xl-12 mt-4 ">
                    <h1 class="tsp-font-size-default-title">{{'PARAMETER.DATA.MESSAGE_ADVERTENCE'|
                        translate}}</h1>
                </div>
            </div>
        </form>
    </div>
    <div class="row mt-2 mb-4 buttonDetailMaster">
        <div class="col-sm-12 col-12 col-md-12 col-lg-12 col-xl-12 mt-4 adveterclose">
            <button mat-raised-button class="tsp-button-success tsp-font-size-buttons">
                <mat-icon>assignment_turned_in</mat-icon>{{'PARAMETER.DATA.AGREE' | translate}}
            </button>
        </div>
    </div>
</div>